<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.bootstrap5.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <header>
        <h1>Global Ed Quest</h1>
    </header>

    <p class="slogan"> Your Academic Destination Awaits ✈️ </p>

    <div class="search centered">
        <div class="input-box" onclick="sendFocus()">
            <img src="{{ url_for('static', filename='images/mag.png') }}" />
            <input placeholder="Search for a Study Abroad Program" id="filter-text-val" />
        </div>
    </div>



    <div class="row">

        <div class="sidebar" class="sidebar">
            <h2 class="sidebar-head">Filter by Preferences</h2>

            <div class="gpa">
                <h4 class="title"> Minimum GPA:</h4>
                <div class="gpa-input-box centered">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" />
                    <input placeholder="e.g. 3.0" list="gpas" name="gpa" id="gpa" />
                </div>
                <datalist id="gpas">
                    <option value="1.0-1.5">1.0-1.5</option>
                    <option value="1.5-2.0">1.5-2.0</option>
                    <option value="2.0-2.5">2.0-2.5</option>
                    <option value="2.5-3.0">2.5-3.0</option>
                    <option value="3.0-3.5">3.0-3.5</option>
                    <option value="3.5-4.0">3.5-4.0</option>
                </datalist>
            </div>


            <!-- <div class = "major">
                <h4 class="title">Filter by Department:</h4>
                <div class="major-input-box">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" />
                    <input placeholder="e.g. Computer Science" list="majors" name="major" id="major" />
                </div>
                <datalist id="majors">
                <option value="Africana Studies & Research Center (ASRC)">Africana Studies & Research Center (ASRC)</option>
                <option value="Agriculture & Life Sciences (ALS)">Agriculture & Life Sciences (ALS)</option>
                <option value="American Studies (AMST)">American Studies (AMST)</option>
                <option value="Animal Science (ANSC)">Animal Science (ANSC)</option>
                <option value="Anthropology (ANTHR)">Anthropology (ANTHR)</option>
                <option value="Applied Economics & Management (AEM)">Applied Economics & Management (AEM)</option>
                <option value="Architecture (ARCH)">Architecture (ARCH)</option>
                <option value="Art (ART)">Art (ART)</option>
                <option value="Art History (ARTH)">Art History (ARTH)</option>
                <option value="Asian American Studies (AAS)">Asian American Studies (AAS)</option>
                <option value="Asian Studies (ASIAN)">Asian Studies (ASIAN)</option>
                Add more majors>
                </datalist>
            </div> -->
            <div class="college">
                <h4 class="title">Filter by College:</h4>
                <div class="college-input-box">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" />
                    <input placeholder="e.g. College of Arts & Sciences" list="colleges" name="college" id="college" />
                </div>
                <datalist id="colleges">
                    <option value="College of Agriculture and Life Sciences (CALS)">College of Agriculture and Life
                        Sciences (CALS)</option>
                    <option value="College of Architecture, Art, and Planning (AAP)">College of Architecture, Art, and
                        Planning (AAP)</option>
                    <option value="College of Arts and Sciences (AS)">College of Arts and Sciences (AS)</option>
                    <option value="Cornell SC Johnson College of Business">Cornell SC Johnson College of Business
                    </option>
                    <option value="College of Engineering (ENG)">College of Engineering (ENG)</option>
                    <option value="College of Human Ecology (CHE)">College of Human Ecology (CHE)</option>
                    <option value="School of Industrial and Labor Relations (ILR)">School of Industrial and Labor
                        Relations (ILR)</option>
                    <option value="Cornell Jeb E. Brooks School of Public Policy">Cornell Jeb E. Brooks School of Public
                        Policy</option>
                </datalist>
            </div>

            <div>
                <h4 class="title">Filter by Location(s):</h4>
                <div class="location">
                    <select id="locations" name="locations[]" multiple placeholder="Select locations">
                        <option value="Hungary">Hungary</option>
                        <option value="France">France</option>
                        <option value="India">India</option>
                        <option value="Germany">Germany</option>
                        <option value="Italy">Italy</option>
                        <option value="Switzerland">Switzerland</option>
                        <option value="Australia">Australia</option>
                        <option value="Spain">Spain</option>
                        <option value="Cuba">Cuba</option>
                        <option value="Ireland">Ireland</option>
                        <option value="Chile">Chile</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="China">China</option>
                        <option value="Jordan">Jordan</option>
                        <option value="Czechia">Czechia</option>
                        <option value="Thailand">Thailand</option>
                        <option value="Netherlands">Netherlands</option>
                        <option value="South Africa">South Africa</option>
                        <option value="Hong Kong">Hong Kong</option>
                        <option value="Greece">Greece</option>
                        <option value="Denmark">Denmark</option>
                        <option value="Ecuador">Ecuador</option>
                        <option value="Cambodia">Cambodia</option>
                    </select>
                </div>
            </div>

            <!-- Creates a multiselect option for the location dropdown -->
            <!-- <script>
                new TomSelect('#locations',{
                    create: false, // Set to false if you don't want users to create new tags
                    plugins: ['remove_button'], // Enables a remove button on each tag
                    persist: false, // Prevents created tags from showing up in the dropdown
                    hideSelected: true, // Option selected won't show in the dropdown menu
                    closeAfterSelect: true, // Closes the dropdown after selection (optional)
                    maxItems: null // No limit on the number of items that can be selected
                });
            
            </script> -->
            <script>
                document.getElementById('locations').addEventListener('click', function () {
                    this.classList.toggle('open'); // Toggles the 'open' class to show/hide the dropdown
                });

                // Initialize TomSelect with adjusted settings
                new TomSelect('#locations', {
                    create: false,
                    plugins: ['remove_button'],
                    persist: false,
                    hideSelected: true,
                    closeAfterSelect: true,
                    maxItems: null,
                    onDropdownOpen: function () {
                        document.getElementById('locations').classList.add('open');
                    },
                    onDropdownClose: function () {
                        document.getElementById('locations').classList.remove('open');
                    }
                });
            </script>


            <div class="flexible prow">
                <h4 class="title">Are Your Preferences Flexible?</h4>
                <div class="flexibility-checkboxes">
                    <label class="checkbox"><input type="checkbox" name="flexible" id="flexible" value="True">
                    </label><br>
                </div>
            </div>

            <button id="submit">SUBMIT</button>

            <script>
                document.getElementById('submit').addEventListener('click', function () {
                    filterText();
                    const inputs = document.querySelectorAll('input');
                    const locs = document.getElementById('locations');
                    const formData = {};
                    inputs.forEach(input => {
                        if (input.type === "checkbox") {
                            formData[input.name] = input.checked;
                        } else {
                            formData[input.name] = input.value;
                        }
                    });
                    formData['locations'] = [];

                    Array.from(locs.options).forEach(option => {
                        if (option.selected) {
                            formData['locations'].push(option.value);
                        }
                    });
                    console.log(formData);
                    return formData;
                });


            </script>

        </div>

        <div id="answer-box"> </div>

    </div>

    <script>
        function answerBoxTemplate(program_name, program_location, program_url, program_gpa, program_colleges) {
            let colleges = program_colleges.split(',');
            let collegesHTML = "";
            let rowOpen = false; 

             for (let i = 0; i < colleges.length; i++) {
                //not empty
                if (colleges[i].length > 0) {
                    //4 college buttons in a row 
                 if (i % 4 === 0) { 
                    if (rowOpen) {
                        collegesHTML += `</div>`;  
                    }
                    collegesHTML += `<div class="row3">`;  
                    rowOpen = true;
                }
                collegesHTML += `<div class="program-college program-buttons">${colleges[i].trim()}</div>`;
            }
        }
        if (rowOpen) {
            collegesHTML += `</div>`;  
            rowOpen = false;
        }
    

        if (program_gpa == -1){
            program_gpa = "None"
        }
            if (program_url) {
                return `<a href = ${program_url} target="_blank">
                <div class='answer'>
                <h3 class='program-name'>${program_name}</h3>
                <hr>
                <div class = "centered prow">
                    <span class="material-symbols-outlined star">star star star star</span>
                </div>
                
                <div class = "row">
                        <div class = "prow">   
                            <div class = "row-inner">  
                                <h3 class='program-details'> Location </h3> 
                                <span class="material-symbols-outlined">location_on</span>
                                <h3 class='program-details'>: </h3> 
                            </div>
                            <div class = "program-location program-buttons">${program_location}</div>
             
                            <div class = "row-inner">  
                                <h3 class='program-details'> Minimum  </h3>
                                <h3 class='program-details'>GPA </h3> 
                                <span class="material-symbols-outlined">person</span>
                                <h3 class='program-details'>: </h3> 
                            </div>
                            <div class = "program-gpa program-buttons">${program_gpa}</div>
                        </div>
                </div>

                <div class = "prow">   
                            <div class = "row-inner">  
                                <h3 class='program-details'> Approved </h3> 
                                <h3 class='program-details'>Colleges </h3> 
                                <span class="material-symbols-outlined">school</span>
                                <h3 class='program-details'>: </h3> 
                            </div>
                         
                </div>
                <div>
                    ${collegesHTML} 
                </div>
            
            </div>
        </a> `

            } else {

                return ` </a href = "https://www.studyabroad101.com/" target="_blank"> 
                <div class='answer'>
                <h3 class='program-name'>${program_name}</h3>
                <hr>
                <div class = "centered prow">
                    <span class="material-symbols-outlined star">star star star star</span>
                </div>
                
                <div class = "row">
                        <div class = "prow">   
                            <div class = "row-inner">  
                                <h3 class='program-details'> Location </h3> 
                                <span class="material-symbols-outlined">location_on</span>
                                <h3 class='program-details'>: </h3> 
                            </div>
                            <div class = "program-location program-buttons">${program_location}</div>
             
                            <div class = "row-inner">  
                                <h3 class='program-details'> Minimum  </h3>
                                <h3 class='program-details'>GPA </h3> 
                                <span class="material-symbols-outlined">person</span>
                                <h3 class='program-details'>: </h3> 
                            </div>
                            <div class = "program-gpa program-buttons">${program_gpa}</div>
                        </div>
                </div>

                <div class = "prow">   
                            <div class = "row-inner">  
                                <h3 class='program-details'> Approved </h3> 
                                <h3 class='program-details'>Colleges </h3> 
                                <span class="material-symbols-outlined">school</span>
                                <h3 class='program-details'>: </h3> 
                        
            </div>
        </div>
                            ${collegesHTML} 
                </div>
        </a> 
        `
            }


        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            const title = document.getElementById("filter-text-val").value;
            const gpa = document.getElementById('gpa').value;
            const college = document.getElementById('college').value;
            const locations = [];
            const locs = document.getElementById('locations');

            Array.from(locs.options).forEach(option => {
                if (option.selected) {
                    locations.push(option.value);
                }
            });
            // const location = document.getElementById('locations').value;
            // const department = document.getElementById('major').value;
            const flexible = document.getElementById('flexible').checked;
            fetch("/search_programs?" + new URLSearchParams({ title: title, gpa: gpa, college: college, location: locations, flexible: flexible }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {

                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.program, row.program_location, row.url, row.gpa, row.colleges)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));

        }

        function debounce(func, wait) {
            let timeout;
            return function () {
                const context = this, args = arguments;
                clearTimeout(timeout);
                timeout = setTimeout(() => {
                    func.apply(context, args);
                }, wait);
            };
        }

        const debouncedFilterText = debounce(filterText, 250);

        document.getElementById('filter-text-val').addEventListener('input', debouncedFilterText);


    </script>
</body>