<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">

<body>
    <header>
            <h1 >Global Ed Quest</h1>
    </header>

    <p class = "slogan"> Your Academic Destination Awaits ✈️ </p>

    <div class="input-box" onclick="sendFocus()">
        <img src="{{ url_for('static', filename='images/mag.png') }}" />
        <input placeholder="Search for a Study Abroad Program" id="filter-text-val" onkeyup="filterText()">
    </div>

    <div id="answer-box"> </div>



    <script>

        function answerBoxTemplate(program_name, program_location) {
            return `<div class='answer'>
                <h3 class='program-name'>${program_name}</h3>
                <p class='program-location'> Location: ${program_location}</p>
            </div>`
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/search_programs?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {

                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.program_name, row.program_location)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));

        }

    </script>
</body>